/* src/ProductView.css */

.product-view {
    display: flex;
    padding: 20px;
    background-color: #f9f9f9;
  }
  
  .product-images {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .main-image {
    width: 80%;
    max-width: 500px;
    margin-bottom: 20px;
    border: 6px solid darkgrey;
    height: 100vh;
  }
  
  .thumbnail-images {
    display: flex;
    justify-content: center;
  }
  
  .thumbnail {
    width: 60px;
    height: 60px;
    margin: 0 5px;
    cursor: pointer;
  }
  
  .product-details {
    flex: 1;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    margin-left: 20px;
  }
  
  .product-details h1 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .price {
    font-size: 20px;
    color: green;
    margin-bottom: 5px;
  }
  
  .tax-info {
    font-size: 14px;
    color: gray;
    margin-bottom: 20px;
  }
  
  .description {
    font-size: 16px;
    margin-bottom: 20px;
  }
  
  .product-options {
    margin-bottom: 20px;
  }
  
  .colors,
  .sizes {
    margin-bottom: 10px;
  }
  
  .color-options {
    display: flex;
  }
  
  .color {
    width: 30px;
    height: 30px;
    border: 1px solid #ccc;
    margin-right: 10px;
    cursor: pointer;
  }
  
  .size-options {
    display: flex;
  }
  
  .size-button {
    border: 1px solid #ccc;
    background-color: white;
    padding: 5px 10px;
    margin-right: 10px;
    cursor: pointer;
  }
  
  .add-to-cart {
    padding: 10px 20px;
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 4px;
  }
  
.add-to-cart a
{
    text-decoration: none;
    color: white;
}


.size-button {
  /* padding: 10px 20px; */
  border: 2px solid #ccc;
  background-color: #f8f8f8;
  cursor: pointer;
  transition: all 0.3s ease;
}

.size-button:hover {
  border: 2px solid #333;
}

.size-button.selected {
  background-color: #333;
  color: #fff;
  border: 2px solid #333;
}

/* ProductView.css */

/* For devices with a max width of 1200px */
@media (max-width: 1200px) {
  .product-view {
    flex-direction: column;
    align-items: center;
  }

  .product-details {
    margin-left: 0;
    margin-top: 20px;
  }

  .main-image {
    width: 70%;
    height:45vh;
  }
}

/* For devices with a max width of 768px */
@media (max-width: 768px) {
  .product-view {
    padding: 10px;
  }

  .main-image {
    width: 100%;
  }

  .product-details {
    padding: 10px;
  }

  .add-to-cart {
    padding: 8px 16px;
    font-size: 14px;
  }
}

/* For devices with a max width of 480px */
@media (max-width: 480px) {
  .product-view {
    padding: 5px;
  }

  .main-image {
    width: 100%;
    max-width: none;
  }

  .product-details {
    padding: 5px;
  }

  .add-to-cart {
    padding: 6px 12px;
    font-size: 12px;
  }
  .imgggg
  {
    width: 60vw;
  }
}
